<div class="layout-fixed-width ">
  <div class="hero">
  	<div class="hero-inner">
      <%= link_to image_tag('chargeit.png'), root_path, class: 'logo' %>
  		<div class="hero-copy">
        <hr/ ><%= render partial: "map", locals: {address: @address, charging_stations: @charging_stations} %><hr/ >
  			<h1>Charging Facilities Near Your Search</h1>
          <% if !@charging_stations.present? %>
            <h4>Sorry. There are no stations, that we know of, near there.</h4>
          <% end %>
          <ul class="listings">
            <% @charging_stations.each do |station| %>
                <li data-lat="<%= station.latitude %>" data-lon="<%= station.longitude %>" data-name="<%= station.facility_name %>">
                  <h6 class="facility_name">
                    <%= station.facility_name %>
                  </h6>
                  <div class="address">
                      <%= station.full_address %>
                  </div>
                </li>
            <% end %>
          </ul>
  		</div>
  	</div>
  </div>
</div>
